.header {
    background-color: #150300;
    padding: 15px;
    margin: 20px;
}

.brand {
    color: white;
    text-transform: uppercase;
}

/* Add a black background color to top navigation */
.topnav {
    background-color: #150300;
    padding: 15px;
    margin: 20px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover{
    background-color: #ddd;
    color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Image starts here */
.right {
  position: absolute;
  right: 200px;
}

